.offcanvas-body, .offcanvas-header {
background-color: #FFD286;
}
.nav-item {
    font-size: 2.5rem;
}
.about-image {
    border-radius: 50rem;
    margin-top: 10rem;
}
.contact {
    margin-top: 10rem;
}
.contact h2 {
    width: 300px;
    height: 300px;
    background-image: url(../images/Manar-400_x_400.JPG);
    opacity: 50%;
    background-size: cover;
    border-radius: 50rem;
}