
:root {
    --dark-blue: #325068;
    --light-yellow: #FFD286;
    --light-blue: #27AABF;
}

/*.offcanvas-header, .offcanvas-body {
    background-color: var(--light-yellow);
}*/
.nav-item {
    font-size: 2.5rem;
}
.col img {
    -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}
.offcanvas  {
    background-color: var(--light-yellow);
}
/*=========== styling for the about page ===============*/
h5 {
    color: var(--light-blue);
}
.about-header {
    color: var(--light-blue);
    text-shadow: 1px 1px ;
    text-align: center;
}

.about-image {
    border-radius: 50rem;
    align-self: center;
}

.card {
    width: auto;
}
.card h5 {
    color: var(--light-blue);
}
.social {
   display: flex;
   justify-content: center;
}
.navbar-toggler, .nav-images {
    background-color: rgb(40, 26, 26);
}
/*============== styling for contact us page ======================*/
.contact-us-image {
    border-radius: 50rem;
    opacity: 40%;
}
.contact h2 {
    color: var(--light-blue);
    justify-items: baseline;
   
}
.contact-us {
    display: flex;
    justify-content: center;
}
.btn {
    border-radius: 50rem;
    background-color: var(--dark-blue);
    color: var(--light-yellow);
}

.mb-3 {
    color: var(--light-blue);

}
.social-contact {
    display: flex;
    justify-content: end;
}
/*=============== styling for the footer secation in alll pages =======================*/
footer {
    border-top: 1px solid black;
    
}
/*========================== styling for screen above 993px ===========================*/
@media screen and (min-width: 993px) {
    body {
        overflow-x: hidden;
    }

    .nav-images, .offcanvas-header, .nav-item, .offcanvas-body {
        background-color: transparent;
    } 
    .bg-img {
    height: 100vh;
    width: 250vh;
    object-fit: cover;

    position: absolute;
 
}
.image-home {
    margin-top: 700px;
}
h5 {
    color: var(--light-blue);
}
.button {
    border-radius: 50rem;
    background-color: var(--dark-blue);
    color: var(--light-yellow);
}
.nav-iteam {
    color: var(--light-blue);
}
.nav-blue {
    background: var(--dark-blue);
}
.social {
    background-color: red;
} 
}