:root {
    --dark-blue: #325068;
    --light-yellow: #FFD286;
    --light-blue: #27AABF;
}

.offcanvas-header, .offcanvas-body{
    background-color: var(--light-yellow);
}
.nav-item {
    font-size: 2.5rem;
}
.about-image {
    border-radius: 50rem;
    margin-top: 10rem;
}
.contact {
    margin-top: 10rem;
}
.contact h2 {
    width: 300px;
    height: 300px;
    background-image: url(../images/Manar-400_x_400.JPG);
    opacity: 50%;
    background-size: cover;
    border-radius: 50rem;
}
.card {
    width: auto;
}
.card h5 {
    color: var(--light-blue);
}
@media screen and (min-width: 993px) {

    .container-fluid, .offcanvas-header, .offcanvas-body {
        background-color: var(--dark-blue);
    }

}